@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Gotham;
    font-weight: 400;
    src: url('./fonts/Gotham-Light.woff') format("woff");
  }
  @font-face {
    font-family: Gotham;
    font-weight: 700;
    src: url('./fonts/Gotham-Bold.woff') format("woff");
  }
}

* {
  font-family: Gotham;
  font-weight: 400;
}